@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
html,
body{
  min-height: 100%;
  background-color: #fff7ee;
}
.featureCard__Responsive {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}
.btn_txt_responsive{
  border-radius: 20px;
border: 2px solid var(--3, #FFF);
}
.roboto-700{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

@media (max-width: 930px) {
  .featureCard__Responsive {
    grid-template-columns: auto;
    justify-content: center;
  }
}
@media (max-width: 340px) {
  .text-responsive {
    font-size: 27px;
    transition: all ease-out 0.5s;
  }
}

@media (max-width: 340px) {
  .btn_txt_responsive {
    font-size: 17px;
  }
}
@media (min-width: 900px) {
  .display__responsive {
    display: none;
  }
}
@media (max-width: 900px) {
  .display__responsivee {
    display: none;
  }
}
@media (max-width: 1155px) {
  .heading__responsive{
    font-size: 22px !important;
    transition: all ease-in-out 0.5s;
  }
}
@media (max-width: 930px) {
  .heading__responsive{
    font-size: 30px !important;
    transition: all ease-in-out 0.5s;
  }
}
@media (max-width: 510px) {
  .heading__responsive{
    font-size: 24px !important;
    transition: all ease-in-out 0.5s;
  }
}

@media (max-width: 305px) {
  .responsive_0092{
    width: 58px;
  }
  .text__responsive__0092{
    font-size: 6.5px;

  }
}
